*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
font-family: 'Raleway', 'Ubuntu', sans-serif;
color: rgb(6, 37, 95);
display: flex;

margin:2% 5% 5% 10%;
padding-bottom: 5%;
}

a{
    color: rgb(6, 37, 95);
    }

/*leftie*/
aside{
    flex: 1;
}
h1{
    padding-bottom: 5%;
}
img{
  width: 100%;
  border: rgb(6, 37, 95) solid 1px;

}
.me{
  padding-left:3%;  
}
ul li{
    list-style-type: none;
}
ul li a{
    text-decoration:none ;

}

/*main*/

main{
    padding:0 3%;
    flex: 3;
}


h2{
    border-bottom: rgb(6, 37, 95) solid 1px;
    margin-bottom: 5%;
}

/*rightie*/
.fab,
.fas{
    color: rgb(6, 37, 95);
   font-size: x-large;
   width: 50px;
   height: 50px;
   margin: 2%;
  
}

.contact{
    flex: 1;
    text-align: center;
   
}










footer{
    background-color: white;
    width: 100%;
    position: fixed;
    bottom: 2%;
   text-align: center;
}


@media screen and (max-width: 992px) {
    
      
    aside
    img{
        width: 25%;
        
       
      
    } 
      
    

}
@media screen and (max-width: 600px) {
     
    body{
        display: flex;
        flex-direction: column;
    }
}